http:// {
    reverse_proxy listmonk:9000 {
        header_down Access-Control-Allow-Origin "https://smitner.studio"
        header_down Access-Control-Allow-Methods "GET, POST, OPTIONS"
        header_down Access-Control-Allow-Headers "DNT,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,Range"
        header_down Access-Control-Expose-Headers "Content-Length,Content-Range"
        header_down Access-Control-Allow-Credentials "true"
    }
}
